@charset "UTF-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    font-family: 'Pretendard';
    font-weight: 500;
}
li{
    list-style: none;
}
.container{
    padding: 100px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 0 60px;
    background-color: #fff;
    z-index: 999;
}
nav>a{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
nav>div a{
    font-size: 16px;
    color: #333;
}
.navLoginBox{
    display: flex;
    gap: 20px;
}
.modal-header{
    border: 0;
}
.modal-body>div{
    text-align: center;
}
.loginInputBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.registerLink{
    font-size: 12px;
    text-align: center;
    color: #218de5;
}
.registerBox{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}
.registerBox>h1{
    margin-bottom: 60px;
}
.registerBtnBox{
    text-align: end;
}
.searchBox{
    display: flex;
    justify-content: end;
}
.search-inner{
    display: flex;
    width: 500px;
    align-items: center;
}
.search-inner .form-select{
    width: initial;
}
.search-inner>span{
    text-align: end;
    margin-top: 10px;
}
.listTable{
    text-align: center;
}
.listTable td{
    vertical-align: middle;
}
.listTable tbody tr:hover td{
    background-color: #eee;
}
.listABox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.listABox .imgSpan{
    text-align: center;
    width: 100px;
}
.listABox img{
    max-width: 100px;
    max-height: 60px;
}
.pagenationBox{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.pagenationBox a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}
.pagenationBox a.active{
    font-weight: bold;
    color: #0076d7;
}
.list-container .registerBtnBox{
    display: flex;
    justify-content: end;
    align-items: center;
}
.detail-container{
    width: 100%;
    min-height: calc(100vh - 100px);
    position: relative;
}
.detail-left{
    padding: 0 20px;
}
.detail-left h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.detail-left h1>span{
    display: flex;
    align-items: center;
}
.detail-left h1 span.detail-span-no{
    font-size: 16px;
    color: #999;
    font-weight: 400;
    margin-right: 20px;
}
.detail-left h1 span.detail-span-title{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.detail-left h1 span.detail-span-writer{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
}
.detail-left h1 span.detail-span-regdate{
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
.detail-left img{
    width: 100%;
    margin: 20px 0;
}
.detail-left .detailBtnBox{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.detail-right{
    padding: 0 20px;
}
.detail-right .commentBox{
    position: sticky;
    top: 65px;
    left: 0;
    height: calc(100vh - 165px);
}
.commentBox #commentLine{
    height: calc(100vh - 380px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#commentLine .comment{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}
.comment .commentTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment .commentTop span.cmtWriter{
    
}
.comment .commentTop span.cmtRegdate{
    color: #999;
    font-size: 14px;
}
.comment .cmtText:read-only{
    padding: 6px 0;
    border: 0;
    outline: none;
}
.comment .cmtmodBox{
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.detail-right .commentInputBox{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #999;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail-right .commentInputBox .cmtBtnBox{
    display: flex;
    justify-content: end;
    align-items: center;
}
.removeUserBtnBox{
    display: flex;
    justify-content: end;
    align-items: center;
}
@media (min-width: 768px) {
    .detail-right {
        border-left: 1px solid #ddd;
    }
}